@import "../../../../styles/abstract/base";

.messages {
  border: 1px solid #e3eded;
  border-radius: 2px;
  padding: 3rem;

  ul.messageContainer {
    li {
      margin-bottom: 1rem;
      padding: 1rem;

      &:not(:last-child) {
        border-bottom: 1px solid #e3eded;
      }

      .messageItem {
        position: relative;

        ul.messageOptions {
          position: absolute;
          bottom: 0;
          right: 10%;
          background-color: $white;
          opacity: 0;
          transform: scaleY(0);
          transition: all 0.2s;
          pointer-events: none;

          &.show {
            opacity: 1;
            transform: scaleY(1);
            pointer-events: cursor;
          }

          li {
            margin-bottom: 0;
            padding: 0.5rem 1rem;

            &:not(:last-child) {
              border-bottom: 1px solid #e3eded;
            }
          }
        }

        figure {
          margin: 0;
          height: 3rem;
          width: 3rem;
          margin-right: 1rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .messageInfo {
          flex-basis: 80%;

          h5 {
            @include fontNormal(1rem, 1.2rem, $primary);
          }

          p {
            padding-top: 0.5rem;
            @include fontNormal(1rem, 1.2rem, $grey);
          }
        }

        button {
          margin-left: auto;
        }
      }
    }
  }
}
