@import "../fonts/style.scss";
@import "./config";
@import "./root";
@import "./typography";
@import "./animations";
@import "./util";
@import "../components/button";
@import "../components/input";

* {
  // transition: all .2s;
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

body {
  font-family: $primaryFont;
  font-weight: 300;
  line-height: 1.6rem;
}

// DropDown
.dropButton {
  position: relative;

  button {
    outline: none;
    border: none;
    background-color: transparent;
    border: 1px solid #e3eded;
    border-radius: 2px;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;

    @include respond(phone) {
      padding: 1rem;
    }

    svg {
      margin-left: 2rem;
    }
  }

  ul.sort__list {
    width: 100%;
    position: absolute;
    top: -3rem;
    right: 0;
    transition: all 0.3s ease;
    background-color: $nearWhite;
    opacity: 0;
    padding: 1rem;
    pointer-events: none;

    &.active {
      opacity: 1;
      top: 3rem;
      pointer-events: auto;
    }

    li {
      cursor: pointer;

      &:hover {
        font-weight: bold;
      }
    }
  }
}

// DropDown

// Pagination
section.pagination {
  @include flexCenter;

  ul {
    li {
      button {
        @include flexCenter;
        border: 1px solid #e3eded;
        border-radius: 2px;
        background-color: transparent;
        width: 4rem;
        height: 4rem;
        margin-right: 1rem;
        @include fontNormal(1.2rem, 1.4rem, $grey);

        &.active,
        &:hover {
          background-color: $secondary;
          color: $white;
          border: none;
          outline: none;
        }

        &.rest {
          border: none;
        }
      }

      &:last-child,
      &:first-child {
        button {
          border: none;
        }
      }
    }
  }
}
// Pagination
