//fonts
$primaryFont:'Mulish Regular';
$boldFont:'Mulish Bold';
$light:'Mulish Light';

//colors
$primary:#2979F2;
$secondary:#110B56;
$navBg:#F4F5FA;
$navHover:#eaeffd;
$blueBg:#EAEFFD;
$redBg:#FDECE2;
$grey:#637381;
$grey-1:#637381;
$white:#ffffff;
$dark:#110B56;


$success:#50B83C;
$danger:#F52D56;

$black:#000000;
$nearWhite:#FAFAFA;
$grey-c:#cccccc;
$grey-3:#333333;
$grey-9:#999999;
$grey-6:#666666;
$purple:#E5EBFF;
$border: 1px solid #E6E6E6;

