//fonts
$primaryFont:'Mulish Regular';
$boldFont:'Mulish Bold';
$light:'Mulish Light';

//colors
$primary:#2979F2;
$navBg:#F4F5FA;
$blueBg:#EAEFFD;
$redBg:#FDECE2;
$grey:#637381;
$white:#ffffff;


$green:#32BEA6;
$secondary:#00114D;
$black:#000000;
$dark:#212121;
$nearWhite:#FAFAFA;
$grey-c:#cccccc;
$grey-3:#333333;
$grey-9:#999999;
$grey-6:#666666;
$purple:#E5EBFF;
$border: 1px solid #E6E6E6;

