.ms {
    margin-top:2rem !important;
    margin-bottom:2rem !important;
}

.my {
    margin-top:2rem;
    margin-bottom:2rem;
}

.mb-xs {
    margin-bottom:1rem !important;
}

.mb-sm {
    margin-bottom:2rem !important;
}

.mb-md {
    margin-bottom:3rem !important;
}

.mb-lg {
    margin-bottom:4rem !important;
}

.mb-xl {
    margin-bottom:6rem !important;
}


//Colors
.black {color:$black;}  
.white {color:$white;}  
.nearwhite {color:$nearWhite;}  
.grey-c {color:$grey-c;}  
.grey-6 {color:$grey-6;}  
.grey-9 {color:$grey-9;}  
.grey-3{color:$grey-3;}  


