@import "../../../../styles/abstract/base";

.customerSatisfaction {
  background-color: #e7f5fe;
  border-radius: 2px;
  padding: 3rem;

  h3 {
    color: #3b4859;
  }

  .row {
    p {
      color: #79869f;
      display: block;

      &.rate {
        flex-basis: 15%;
      }
    }
  }

  .stars {
    justify-content: flex-start;
    flex-basis: 70%;
    flex-shrink: 0;

    svg {
      margin-right: 4px;
      width: 1.8rem;
      height: 1.8rem;
    }
  }
}
