@import "../../styles/abstract/base";

nav.nav {
  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 24rem;

    li {
      a {
        display: flex;
        align-items: center;
        padding: 1.2rem 3.2rem;
        @include fontBold(1.5rem, 1.9rem, $black);
        font-weight: 300;
        position: relative;
        transition: color 0.2s cubic-bezier(1, 0, 0, 1),
          border-right 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;

        &:hover {
          color: $white;
          border-radius: 0px 12px 12px 0px;

          svg {
            path {
              fill: $white;
            }
          }
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          width: 3px;
          background-color: $primary;
          transform: scaleY(0);
          z-index: 20;
          transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
            background-color 0.2s;
        }

        &:hover:before {
          transform: scaleY(1);
          width: 100%;
          z-index: -1;
          border-radius: 0px 12px 12px 0px;
        }

        svg {
          margin-right: 1rem;
        }

        &.active {
          background-color: $primary;
          color: $white;
          border-radius: 0px 12px 12px 0px;

          svg {
            path {
              fill: $white;
            }
          }
        }
      }
    }
  }
}
